* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  

  label {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 8px;
  }
  

  input {
    width: 200px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  

  input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  

  button {
    background-color: #007BFF;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  button:hover {
    background-color: #0056b3;
  }
  